/* Reinicia márgenes y tamaños */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general del portfolio */
body {
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", serif;
  color: #f3e6cf;

  /* Imagen de fondo con una capa oscura */
  background:
    linear-gradient(rgba(8, 16, 16, 0.30), rgba(8, 16, 16, 0.30)),
    url("fondo.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Contenedor principal */
.contenedor {
  width: min(1180px, 92%);
  margin: 0 auto;
  padding: 70px 0;
}

/* Portada */
.hero {
  min-height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caja central */
.hero-contenido {
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 70px 40px;

  /* Efecto cristal oscuro */
  background: rgba(12, 24, 23, 0.64);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(218, 173, 103, 0.42);
  border-radius: 22px;
}

/* Texto pequeño superior */
.subtitulo {
  color: #d7a665;
  letter-spacing: 3px;
  margin-bottom: 18px;
}

/* Nombre principal */
.hero h1 {
  font-size: clamp(3rem, 8vw, 5.5rem);
  color: #e7c184;
  margin-bottom: 18px;
}

/* Título profesional */
.hero h2 {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: normal;
  color: #f4ead9;
  margin-bottom: 18px;
}

/* Descripción */
.descripcion {
  font-size: 1.1rem;
  color: #d9cbb7;
  margin-bottom: 32px;
}

/* Contenedor de botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

/* Botones */
.botones a {
  text-decoration: none;
  color: #f7ead6;
  background: rgba(11, 19, 19, 0.72);

  border: 1px solid #b77c49;
  border-radius: 10px;

  padding: 12px 28px;
  min-width: 140px;

  transition: 0.25s ease;
}

/* Efecto al pasar el mouse */
.botones a:hover {
  background: #b77c49;
  color: #111;
  transform: translateY(-2px);
}

/* Ajuste para celulares */
@media (max-width: 700px) {
  .contenedor {
    width: 94%;
    padding: 30px 0;
  }

  .hero {
    min-height: auto;
  }

  .hero-contenido {
    padding: 45px 22px;
  }

  .descripcion {
    font-size: 1rem;
  }
}
